<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.TeymurKazakov.refresh</string>
		<string>com.TeymurKazakov.BackgroundAppProcessingIdentifier</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>FuzzChat</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSBonjourServices</key>
	<array>
		<string>_test._tcp</string>
		<string>_sevennationarmy._tcp</string>
		<string>_bravenewworld._tcp</string>
		<string>_neverland._tcp</string>
		<string>_macedonia._tcp</string>
		<string>_nigeria._tcp</string>
		<string>_fagland._tcp</string>
		<string>_qatar._tcp</string>
		<string>_romania._tcp</string>
		<string>_suadiarabia._tcp</string>
		<string>_seychelles._tcp</string>
		<string>_slovenia._tcp</string>
		<string>_slovakia._tcp</string>
		<string>_sudan._tcp</string>
		<string>_southkorea._tcp</string>
		<string>_northkorea._tcp</string>
		<string>_switzerland._tcp</string>
		<string>_syria._tcp</string>
		<string> _turkmenistan._tcp</string>
		<string>_unitedarabemirates._tcp</string>
		<string>_vietnam._tcp</string>
		<string>_urugauy._tcp</string>
		<string>_vietnam._tcp</string>
		<string>_wales._tcp</string>
		<string>_rwanda._tcp</string>
		<string>_panama._tcp</string>
		<string>_stanistan._tcp</string>
		<string>_maldives._tcp</string>
		<string>_malaisia._tcp</string>
		<string>_malawi._tcp</string>
		<string>_kosovo._tcp</string>
		<string>_kuwait._tcp</string>
		<string>_jordan._tcp</string>
		<string>_guatemala._tcp</string>
		<string>_grenada._tcp</string>
		<string>_japan._tcp</string>
		<string>_jamaica._tcp</string>
		<string>_ivorycoast._tcp</string>
		<string>_italy._tcp</string>
		<string>_isleofman._tcp</string>
		<string>_ireland._tcp</string>
		<string>_hungary._tcp</string>
		<string>_haiti._tcp</string>
		<string>_greece._tcp</string>
		<string>_ghana._tcp</string>
		<string>_gambia._tcp</string>
		<string>_georgia._tcp</string>
		<string>_fiji._tcp</string>
		<string>_falklands._tcp</string>
		<string>_eu._tcp</string>
		<string>_ethiopia._tcp</string>
		<string>_egypt._tcp</string>
		<string>_ecuador._tcp</string>
		<string>_djibouti._tcp</string>
		<string>_denmark._tcp</string>
		<string>_cyprus._tcp</string>
		<string>_cuba._tcp</string>
		<string>_curacao._tcp</string>
		<string>_costarica._tcp</string>
		<string>_croatia._tcp</string>
		<string>_comoros._tcp</string>
		<string>_congo._tcp</string>
		<string>_colombia._tcp</string>
		<string>_chad._tcp</string>
		<string>_catalonia._tcp</string>
		<string>_cameroon._tcp</string>
		<string>_cambodia._tcp</string>
		<string>_burkinafaso._tcp</string>
		<string>_brunei._tcp</string>
		<string>_bermuda._tcp</string>
		<string>_belize._tcp</string>
		<string>_benin._tcp</string>
		<string>_bahamas._tcp</string>
		<string>_barbados._tcp</string>
		<string>_angola._tcp</string>
		<string>_bangladesh._tcp</string>
		<string>_bulgaria._tcp</string>
		<string>_belarus._tcp</string>
		<string>_bahrain._tcp</string>
		<string>_azerbaijan._tcp</string>
		<string>_austria._tcp</string>
		<string>_argentina._tcp</string>
		<string>_iraq._tcp</string>
		<string>_iran._tcp</string>
		<string>_israel._tcp</string>
		<string>_afganistan._tcp</string>
		<string>_albania._tcp</string>
		<string>_algeria._tcp</string>
		<string>_chile._tcp</string>
		<string>_bolivia._tcp</string>
		<string>_turkey._tcp</string>
		<string>_belgium._tcp</string>
		<string>_morroco._tcp</string>
		<string>_tanzania._tcp</string>
		<string>_somalia._tcp</string>
		<string>_random._tcp</string>
		<string>_brazil._tcp</string>
		<string>_india._tcp</string>
		<string>_kenya._tcp</string>
		<string>_newzealand._tcp</string>
		<string>_australia._tcp</string>
		<string>_norway._tcp</string>
		<string>_finland._tcp</string>
		<string>_sweden._tcp</string>
		<string>_portugal._tcp</string>
		<string>_spain._tcp</string>
		<string>_france._tcp</string>
		<string>_germany._tcp</string>
		<string>_honduras._tcp</string>
		<string>_elsalvador._tcp</string>
		<string>_mexico._tcp</string>
		<string>_denmark._tcp</string>
		<string>_iceland._tcp</string>
		<string>_greenland._tcp</string>
		<string>_ukraine._tcp</string>
		<string>_kazahstan._tcp</string>
		<string>_mongolia._tcp</string>
		<string>_china._tcp</string>
		<string>_canada._tcp</string>
		<string>_russia._tcp</string>
		<string>_england._tcp</string>
		<string>_america._tcp</string>
		<string>_tigrodom._tcp</string>
		<string>_FuzzCenter._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>This will allow you to connect to your friend; example: If there is WiFi, FuzzChat will connect and "piggyback" through it</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This will allow you to have speach-to-text, and help you type hands-free</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This will back up photos sent to you, saving them in the camera app; example: your chatbuddy will have the photo you sent him saved in his photos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This will back up photos sent to you, saving them in the camera app; example: your chatbuddy will have the photo you sent him saved in his photos.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
